<% layout("/layouts/boilerplate") %>
<body>
    <div class="error row mt-5" >
        <div class="alert alert-danger col-10 " role="alert">
            <p class="alert-heading"><%=statusCode%>: <%=message%></p>
        </div>
    </div>
</body>